<%= provide(:title, 'About us') %>

<%= currently_at('Home') %>

<section>
  <header>
    <h1>About us</h1>
  </header>
  <p>
    <em>apptrack</em> is to support collaborative application development
    based on the 
    <%= link_to "MIT License (MIT)", 
                "http://opensource.org/licenses/MIT",
                target: "_blank" %>.
  </p>
  <h3>Website Design</h3>
  <p>Amanda</p>
  <h3>Development</h3>
  <p>Pierre</p>
  <h3>Test</h3>
  <p>Amanda, Pierre</p>
</section>

<% content_for :secondary_nav do %>
  <%= breadcrumbs [link_to('Home', root_path),
                   'About us' ] %>
<% end %>

