<tr>
  <td><%= track.title %></td>
  <td><%= track.description %></td>
  <td><%= link_to "Show", project_track_path(track.project, track) %></td>
  <td><%= link_to "Edit", edit_project_track_path(track.project, track) %></td>
</tr>
