fieldset {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background-color: #edeae6;
  border: 0;
  box-shadow: 0 0 8px #aaa;

  label {
    font-size: 1.2em;
    display: block;
    margin-bottom: .25em;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 20px 0;
      padding: 0;

      &:required label {
        font-weight: bold;
      }
    }
  }

  input, label {
    display: block;
  }

  input, textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px;
    border: 1px solid #808080;
  }

  div.field_with_errors {
    label {
      color: #c00000;
    }
    input, textarea {
      background: #c00000;
      color: white;
    }
  }

  p {
    input {
      display: inline-block;
    }
    a.button {
      padding: 10px 15px;
    }
  }
}
