article.project {

  background-color: #edeae6;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #666;
  font: {
    size: 0.8em;
    weight: normal;
  }

  padding: 10px;

  header {
    background-color: #808080;
    color: #fff;
    border-bottom: 5px solid #606060;
    margin: 10px -10px;
    padding: 5px 10px 0 10px;
  }

  p {
    padding: .5em 0;
    font-size: 1.15em;
    line-height: 1.25em;
  }

  nav#applinks {
    font-size: 1.15em;

    ul {
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;

      &:after {
        content: " |";
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }

}

ul#projects {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 0 10px 0;
  }

  article.project {

    background-color: #edeae6;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #666;
    font: {
      size: 0.8em;
      weight: normal;
    }

    padding: 10px;

    header {
      background-color: #808080;
      color: #fff;
      border-bottom: 5px solid #606060;
      margin: 10px -10px;
      padding: 5px 10px 0 10px;
      &:hover {
        background-color: #ffffff;
        color: #808080;
        cursor: pointer;
        a, a:link, a:visited {
          color: #808080;
        }
      }
      a, a:link, a:visited {
        color: #ffffff;
        text-decoration: none;
      }
    }

    p {
      padding: .5em 0;
      font-size: 1.15em;
      line-height: 1.25em;
    }
  }
}

ul#tracks {
  color: #666;
  font: {
    size: 0.8em;
    weight: normal;
  }

  list-style: none;
  padding: 0px;

  table {
    line-height: 1.4em;
    font-size: 1.1em;

    .list_line_even {
      background: #ffffff;
    }

    .list_line_odd {
      background: #edeae6;
    }

    .done {
      a, a:link, a:visited {
        color: #ffffff;
      }
      color: #ffffff;
      background: #006302;
    }

    .postponed {
      background: #ffcc00;
    }

    .rejected {
      a, a:link, a:visited {
        color: #ffffff;
      }
      color: #ffffff;
      background: #cc0000;
    }

    .processing {
      font-style: italic;
    }

    th {
      padding: 5px 10px 5px 10px;
    }

    td {
      vertical-align: top;

      &.link-icon-left {
        padding: 10px 10px 0px 10px;
        text-align: center;
      }

      &.link-icon-right {
        padding: 10px 10px 0px 10px;
        text-align: center;
      }

      &.link-icon-top {
        padding: 12px 0px 0px 10px;
      }

      &.link-icon-bottom {
        padding: 12px 0px 0px 15px;
      }

      &.center {
        padding: 5px 0px 5px 0px;
        text-align: center;
      }

      &.first {
        padding: 5px 0 5px 10px; 
      }

      &.middle {
        padding: 0px 10px 5px 10px;
      }

      &.last {
        padding: 5px 10px 5px 0;
        text-align: right;
      }
    }

    thead {
      background-color: #808080;
      color: #fff;
      border-bottom: 5px solid #606060;
      margin: 10px -10px;
      padding: 5px 10px 0 10px;
    }

    tr.data {
      margin: 10px;
      border-bottom: 1px solid #edeae6;
      &:hover {
        a, a:link, a:visited {
          color: #ffffff;
        }
        color: #ffffff;
        background-color: #4169e1;
        cursor: pointer;
      }
    }
    
    a, a:link, a:visited {
      color: #666666;
      text-decoration: none;
    }

  }

  article.track {
    header {
      background-color: #808080;
      color: #fff;
      border-bottom: 5px solid #606060;
      margin: 10px -10px;
      padding: 5px 10px 0 10px;
    }

    p {
      padding: .5em 0;
      font-size: 1.15em;
      line-height: 1.25em;
    }
  }
}

#filter {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f0f0f0;

  li {
    display: inline-block;
    margin: 0 2px;
    padding: 10px 6px;
  }
}

