<footer id="page_footer">
  <ul>
    <li><%= link_to "About us", "" %></li>
    <li><%= link_to "Contact", "" %></li>
    <li><%= link_to "Help", "" %></li>
  </ul>
  <p>&copy; 2013 Sugar Your Coffee</p>
</footer>
