<% content_for :main_navigation do %>
  <nav id="main_nav" role="navigation">
    <ul>
      <%= nav_tab 'Home', root_path, current: current_tab %>
      <%= nav_tab 'Projects', projects_path, current: current_tab %>
      <%= nav_tab 'Members', users_path, current: current_tab %>
    </ul>
  </nav>
<% end %>
